<footer class="site-footer h-card">
    <data class="u-url" href="/guest_in_the_universe/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Guest in the Universe</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Guest in the Universe</li><li><a class="u-email" href="mailto:noviceguru.blogs@gmail.com">noviceguru.blogs@gmail.com</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>A blog about Technology, Finance, Law, Politics, Sports, Literature and almost everything around the World. </p>
        </div>
      </div>
  
    </div>
  
    <p class="copyright" style="text-align: center; font-size: 12px;">
      &copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.
    </p>

  </footer>
  